<h1>Search:</h1>

<form action="/users" method="GET">
  <div>
    <label for="input1">Search repo:</label>
    <input
      type="text"
      class="form-control"
      placeholder="user name"
      name="searchterm"
    />
  </div>
  <button type="submit" class="btn btn-primary">
    Search
  </button>
</form>
